<div class="eqLogic eqLogic-widget noResize " data-version="dashboard" style="overflow:hidden; height:320px; width: 220px; #background#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#">
	<link rel="stylesheet" href="plugins/reveil/core/template/dashboard/css/style.css" />
	<span class="statusCmd" style="position : absolute;bottom : 3px;left : 3px;width : 30px;color: #404040 ;z-index: 1030;"></span>
	<div class="progr_panel">
		<table id="table_programation" class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th style="width:100px;">Jour actif</th>
					<th>Heure</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<img class="sections_droite_liste tooltips noRefresh" src="plugins/reveil/core/template/dashboard/images/chevron.png" title="Listes" onClick="listefermer()"/>
	</div>
	<div class="haut_widget">
		<img class="sections_gauche tooltips noRefresh" src="plugins/reveil/core/template/dashboard/images/chevron.png" onclick="liste()" title="Informations"/>
		<span class="statusCmd" style="position : absolute;left : 5px;bottom:0px; width : 30px;z-index: 1030;"></span>
		<center class="widget-name">
			<span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
		</center>
		<center>	
			#action#
			<span class="cmd cmd-widget" data-type="action" data-subtype="other">
				#shedule#
			</span>
		</center>
	</div>
	<script type="text/javascript">
		function liste(){
			$(".eqLogic[data-eqLogic_uid=#uid#] .progr_panel").animate({left:"0px"});
			$(".eqLogic[data-eqLogic_uid=#uid#] .progr_panel").attr("class","progr_panel shadow_fenetre_reveil");
		}
		function listefermer(){
			$(".eqLogic[data-eqLogic_uid=#uid#] .progr_panel").animate({left:"-200px"});
			$(".eqLogic[data-eqLogic_uid=#uid#] .progr_panel").attr("class","progr_panel");
		}
		$('.shedule[data-eqLogic_id=#id#]').off().on('click', function () {			
			$.ajax({// fonction permettant de faire de l'ajax
				type: "POST", // methode de transmission des données au fichier php
				url: "plugins/reveil/core/ajax/reveil.ajax.php", // url du fichier php
				data: {
					action: "setProgramation",
					id: "#id#",
					prog: '',
					day: '',
					heure: '',
					minute: ''
				},
				dataType: 'json',
				global: false,
				error: function(request, status, error) {
					handleAjaxError(request, status, error);
				},
				success: function(data) { // si l'appel a bien fonctionné
					if (data.state != 'ok') {
						$('#div_alert').showAlert({message: data.result, level: 'danger'});
						return;
					}
				}
			});
		});	
		$.ajax({// fonction permettant de faire de l'ajax
			type: "POST", // methode de transmission des données au fichier php
			url: "plugins/reveil/core/ajax/reveil.ajax.php", // url du fichier php
			data: {
				action: "getProgramation",
				id: "#id#"
			},
			dataType: 'json',
			global: false,
			error: function(request, status, error) {
				handleAjaxError(request, status, error);
			},
			success: function(data) { // si l'appel a bien fonctionné
				if (data.state != 'ok') {
					$('#div_alert').showAlert({message: data.result, level: 'danger'});
					return;
				}
					for(var index indata.result) {
						if( (typeof data.result[index] === "object") && (data.result[index] !== null) )
							addProgramation(data.result[index],$('#table_programation'));
					}
				}
			}
		});
		function addProgramation(_programation,  _el) {
			var Heure=$('<select class="expressionAttr form-control" data-l1key="Heure" >');
		    	var Minute=$('<select class="expressionAttr form-control" data-l1key="Minute" >');
			var number = 0;
			while (number < 24) {
				Heure.append($('<option value="'+number+'">')
					.text(number));
				number++;
			}
			number = 0;
			while (number < 60) {
				Minute.append($('<option value="'+number+'">')
					.text(number));
				number++;
			}
			var tr = $('<tr class="ProgramationGroup">')
				.append($('<td>')
					.append($('<label class="checkbox-inline">')
						.append($('<input type="checkbox" class="expressionAttr" data-l1key="1">'))
						.append('Lundi'))
					.append($('<label class="checkbox-inline">')
						.append($('<input type="checkbox" class="expressionAttr" data-l1key="2">'))
						.append('Mardi'))
					.append($('<label class="checkbox-inline">')
						.append($('<input type="checkbox" class="expressionAttr" data-l1key="3">'))
						.append('Mercredi'))
					.append($('<label class="checkbox-inline">')
						.append($('<input type="checkbox" class="expressionAttr" data-l1key="4">'))
						.append('Jeudi'))
					.append($('<label class="checkbox-inline">')
						.append($('<input type="checkbox" class="expressionAttr" data-l1key="5">'))
						.append('Vendredi'))
					.append($('<label class="checkbox-inline">')
						.append($('<input type="checkbox" class="expressionAttr" data-l1key="6">'))
						.append('Samedi'))
					.append($('<label class="checkbox-inline">')
						.append($('<input type="checkbox" class="expressionAttr" data-l1key="0" />'))
						.append('Dimanche')))
				.append($('<td>')
					.append(Heure)
					.append(Minute));
			_el.append(tr);
			_el.find('tr:last').setValues(_programation, '.expressionAttr');
		}
	</script>
</div>
