<div class="eqLogic eqLogic-widget noResize " data-version="dashboard" style="overflow:hidden; height:320px; width: 220px; #background#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#">
	<link rel="stylesheet" href="plugins/reveil/core/template/dashboard/css/gauche.css" />
	<link rel="stylesheet" href="plugins/reveil/core/template/dashboard/css/style.css" />
	<span class="statusCmd" style="position : absolute;bottom : 3px;left : 3px;width : 30px;color: #404040 ;z-index: 1030;"></span>
	<div class="progr_panel">
		#progr_tab#
		<img class="sections_droite_liste tooltips noRefresh" src="plugins/reveil/core/template/dashboard/images/chevron.png" title="Listes" onClick="listefermer()"/>
	</div>
	<div class="haut_widget">
		<img class="sections_gauche tooltips noRefresh" src="plugins/reveil/core/template/dashboard/images/chevron.png" onclick="liste()" title="Informations"/>
		<span class="statusCmd" style="position : absolute;left : 5px;bottom:0px; width : 30px;z-index: 1030;"></span>
		<center class="widget-name">
			<span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
		</center>
		<center>	
			#action#
			<span class="cmd cmd-widget" data-type="action" data-subtype="other">
				#shedule#
			</span>
		</center>
	</div>
	<script type="text/javascript">
		function liste(){
			$(".eqLogic[data-eqLogic_uid=#uid#] .progr_panel").animate({left:"0px"});
			$(".eqLogic[data-eqLogic_uid=#uid#] .progr_panel").attr("class","progr_panel shadow_fenetre_reveil");
		}
		function listefermer(){
			$(".eqLogic[data-eqLogic_uid=#uid#] .progr_panel").animate({left:"-200px"});
			$(".eqLogic[data-eqLogic_uid=#uid#] .progr_panel").attr("class","progr_panel");
		}
		$('.shedule[data-eqLogic_id=#id#]').off().on('click', function () {			
			$.ajax({// fonction permettant de faire de l'ajax
				type: "POST", // methode de transmission des données au fichier php
				url: "plugins/reveil/core/ajax/reveil.ajax.php", // url du fichier php
				data: {
					action: "updateShedule",
					id: "#id#",
					prog: '',
					day: '',
					heure: '',
					minute: ''
				},
				dataType: 'json',
				global: false,
				error: function(request, status, error) {
					handleAjaxError(request, status, error);
				},
				success: function(data) { // si l'appel a bien fonctionné
					if (data.state != 'ok') {
						$('#div_alert').showAlert({message: data.result, level: 'danger'});
						return;
					}
				}
			});
		});	
	</script>
</div>
